body {
  background: 
    url(../images/pattern_inf.jpg) repeat-x,  
    url(../images/bg_flores.png) repeat;
    color: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
}
html{
  height: 100%;
}
a{
  color: #E73F56;
}
footer{
  background: url(../images/pattern_inf.jpg) repeat-x bottom;
  bottom: 0;
  height: 20px;
  width: 100%;
  z-index: 2;
}
header{
  background: url(../images/flor_sup.png) no-repeat, url(../images/bg_header.png) no-repeat 420px 19px;
  height: 330px;
  margin: auto;
  /*margin-bottom: -180px;*/
  position: relative;
  width: 1050px;
  z-index: 2;
}
header h1{
  float: left;
  margin: 10px 0 10px 240px;
  width: 220px;
}
header .logos{
  background: url(../images/header_logos.png) no-repeat left 20px;
  float: right;
  text-align: right;
  width: 585px;
}
header .galleta{
  margin-left: -80px;
}
header .fechas{
  background: #fff;
  border-radius: 10px;
  box-shadow: #ccc 1px 1px 10px;
  clear: both;
  color: #929292;
  font-size: 13px;
  margin: auto;
  overflow: hidden;
  width: 810px;
  cursor: default;
}



nav {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: #ccc 1px 1px 5px;
  clear: both;
  color: #666;
  font-size: 13px;
  margin: auto;
  overflow: hidden;
  width: 808px;
  text-transform:uppercase;
  font-weight:bold;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav > ul > li {
    float: left;
	width:202px;
	
}

nav ul li a {
    min-width: 100px;
    padding: 10px 0;
    display: block;
}

nav ul li > ul {
    min-width: 202px;
    padding: 0px 0;
    display: block;
	background-color: #c84055;
	color:#FFF;
	border-radius: 5px;
	margin:5px 0 0 0;
}


nav ul li > ul > li a {
    min-width: 202px;
    padding: 10px 0;
	border-bottom:2px dotted #bc2d43;
    display: block;
	background-color: #c84055;
	color:#FFF;
	border-radius: 5px;
	
}

nav ul li a:hover,
nav ul li.active a,
a.flecha-abajo:hover,
a.flecha-derecha:hover {
    background-color: #c42d45;
	color:#FFF;
	text-decoration:none;
	border-radius: 5px;
}






nav ul li ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 160px;
    z-index: 3;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.3s ease-out;  
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.3s ease-out;  
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav ul li ul li {
    position: relative;
}
nav ul li ul li ul {
    right: 0px;
    top: 0px;
}

header .fechas div{
  background: url(../images/dot-col.png) no-repeat right center;
  float: left;
  padding: 10px 0;
  text-align: center;
  width: 33%;
}
header .fechas div:last-child{
  background: 0;
}
header .fechas strong{
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  bottom: 39px;
  color: #fff;
  display: block;
  font-size: 15px;
  margin: 0 3%;
  padding: 7px 0; 
  position: absolute;
  width: 20%;
}
header .fechas strong.current{
  background: #9ec065;
}
header .fechas strong.next{
  background: #e9bf2d;
}
header .fechas strong.prev{
  background: #c84055;
  
}

.breadcrumbs {
	font-size:12px;
	margin:0 0 20px 0;
	}
h2{
  color: #777;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  
  text-transform: uppercase;
  margin-bottom:20px;
}

.titulo  {
  border-bottom:2px dotted #777;
  padding-bottom:10px;
}



i.icon-privado{
  background: url(../images/i_privado.png) no-repeat;
  display: inline-block;
  height: 34px;
  vertical-align: bottom;
  width: 33px;
}
.controls input[type="text"],
.controls input[type="email"],
.controls input[type="password"],
.controls input[type="number"],
.controls select,
.controls textarea{
  background: #f7f7f7;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
}
.controls .btn-success{
  background: #9ec065;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  padding: 7px 10px;
  text-shadow: none;
  text-transform: uppercase;
}
.controls .files a{
  color: #9ec065;
}
.controls .files .start{
  background: #9ec065;
  text-transform: none;
}
.controls .files .cancel{
  background: #e9bf2d;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 10px;
  text-shadow: none;
}
.controls .files .delete{
  background: #c84055;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 10px;
  text-shadow: none;
}
.controls .twitter,
.controls .facebook{
  background: url(../images/twitter.png) no-repeat;
  background-size: contain;
  display: inline-block;
  height: 30px;
  margin-right: 15px;
  vertical-align: top;
  width: 30px;
}
.controls .facebook{
  background: url(../images/facebook.png) no-repeat;
  background-size: contain;
}
.control-group{
  border-radius: 5px;
}
.control-group .errorMessage{
  font-size: 11px;
  display: inline-block;
  margin-left: 20px;
}
.control-group label.control-label{
  color: #777777;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.control-group label.control-label.error{
  color: #fff;
  padding-left: 10px;
}
.control-group.error{
  background: #c84055;
  color: #fff;
  margin: 10px 0;
  padding: 10px 0;
}
.form-actions{
  background: none;
  border: none;
}
.input-prepend .add-on{
  padding: 5px;
}
legend{
  border: none;
  color: #548dcb;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
p{
  vertical-align: bottom;
  line-height:22px;
}
.bs-docs-example{
  border-image: url(../images/dot-grid.png) 6 repeat;
  -moz-border-image: url(../images/dot-grid.png) 6 repeat;
  -webkit-border-image: url(../images/dot-grid.png) 6 repeat;
  border-width: 4px;
  -moz-border-width: 4px;
  -webkit-border-width: 4px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
}

.bs {
  /* border-image: url(../images/dot-grid.png) 6 repeat;
   -moz-border-image: url(../images/dot-grid.png) 6 repeat;
  -webkit-border-image: url(../images/dot-grid.png) 6 repeat;
  border-width: 4px; 
  -moz-border-width: 4px;
  -webkit-border-width: 4px;  */
  margin: 20px auto;
  padding: 15px;
  text-align: center;
}

.bs-docs-example label.checkbox{
  margin-bottom: 20px;
}

.bs label.checkbox{
  margin-bottom: 20px;
}

.bs-docs-example .btn,
.form-actions .btn{
  background: #c84055;;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.cargar-mas {
  background:#CCC;
  color:#666;  
  font-size: 12px;
  border:none;
  width:98%;
  margin:0 auto;
  text-shadow:none;
	}

.cargar-mas:hover {
  background:#999;
	}
	
	
#perfil .btn {
  background: #c84055;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#buscador {
  width: 808px;
  margin:auto 0;
}

#buscador .btn {
  background:#74A5D6;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align:top;
}

.home#buscador   {
	margin:40px auto 20px auto;
	width:650px;
	text-align:center;
}


.instruccion {
	text-align:center;
	margin-bottom:60px;
	}


.home#buscador h2   {
	text-align:center;
}

.home#buscador #artista   {
	width:600px;
}

.home#buscador .btn   {
background:#74A5D6;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  
  width:300px;
}

.seleccionados .btn   { 
  background:#C4063F;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  
  width:680px;
  margin:0 0 20px 0;

}

.seleccionados .btn:hover   {
  background:#c42d45;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  
  width:680px;
  margin:0 0 20px 0;

}




#artista {
	height:35px;
	width:640px;
	}

.bs .btn,
.form-actions .btn{
  background: #548dcb;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bs-docs-example .btn:hover,
.form-actions .btn:hover{
  background: #a82035;
}

.bs .btn:hover,
.form-actions .btn:hover{
  background: #c84055;
}

.bs-docs-example #aceptar{
  float: none;
  vertical-align: top;
}

.container{
  background: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 20px 25px; 
  position: relative;
  width: 760px;
  margin-top:20px;
}


#fotos,
#fotoPerfil,
#audio{
  margin-left: -185px;
}
#RegistroForm_area input,
#RegistroForm_area label{
  float: left;
  display: inline-block;
}
#RegistroForm_area label{
  background: url(../images/areas.png) no-repeat;
  background-position: top left;
  height: 5px;
  margin: 0 25px 0 -38px;
  padding-top: 50px;
  text-indent: -9999px;
  width: 50px;
}
#RegistroForm_area label[for="RegistroForm_area_1"]{
  background-position: -58px top ;
}

#RegistroForm_area label:nth-child(4){
  background-position: -58px top ;
}
#RegistroForm_area label[for="RegistroForm_area_2"]{
  background-position: -116px top ;
}

#RegistroForm_area label:nth-child(6){
  background-position: -116px top ;
}
#RegistroForm_area label[for="RegistroForm_area_3"]{
  background-position: -174px top ;
}

#RegistroForm_area label:nth-child(8){
  background-position: -174px top ;
}
#RegistroForm_area input{
  margin-top: 50px;
  width: 25px;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

#fucking-flor{
  background: url(../images/flor_inf.png) no-repeat;
  bottom: -40px;
  display: block;
  height: 200px;
  position: absolute;
  right: -100px;
  width: 200px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* agregado por Selene */

.btn-directorio {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
		  background-color:#548dcb !important;
		  width:312px !important;
		  
		 
}


/* .btn-directorio:hover {
		  background-color:#386fac !important;
	 
} */

.disabled {
		  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
		   background-color:#386fac !important;
		  width:312px !important;
		  color:#9eb6d3 !important;
		 
	 
} 


.img_directorio {
		  background-image:url(../images/directorio.png) !important;
		  width:32px;
		  height:32px;
		  position:absolute;
		  left:265px;
		  bottom:60px;
		  
}





/*DIRECTORIO*/

.infoPpal img
{
  float: left;
  margin:0 10px 10px 0;

}

.infoPpal .categoria {
	margin-top:-15px;
	margin-bottom:10px;
	}

#perfiles .pagina
{
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom:1px dotted #999999;
  margin:20px 0 20px 8px;
  padding-bottom:8px;
  display:block;
}
#perfiles .perfil
{
  float: left;
  font-size: 11px;
  margin: 0 8px 20px;
  min-height: 323px;
  width: 174px;
}
#perfiles .perfil h3
{
  font-size: 12px;
  line-height:16px;
  margin: 0;
  text-align: center;
  text-transform:uppercase;
  
}
#perfiles .perfil img
{
  display: block;
  margin: -15px auto 5px;
  height:  140px !important;
  text-align: center;
}
#perfiles .perfil span
{
  background: #ccc;
  display: inline-block;
  height: 20px;
  padding: 2px 5px 0;
  border-radius:3px;
}

.infoDer {
    float: right;
    height: 250px;
    width: 490px;
}

.infoIzq {
    float: left;
    height: 250px;
    width: 270px;
}



#perfiles .perfil span:first-child
{
  background: url(../images/areas_thumb.png) no-repeat;
  text-indent: -9999px;
  width: 14px;
}
#perfiles .perfil span.Teatro,
#perfiles .perfil span.teatro{
  background-position: -60px 0;
}

#perfiles .perfil span.Danza,
#perfiles .perfil span.danza{
  background-position: -30px 0;
}

#perfiles .perfil span.Música,
#perfiles .perfil span.musica{
  background-position: 0 0;
}

#perfiles .perfil span.otras-artes,
#perfiles .perfil span.otras,
#perfiles .perfil span.Otras{
  background-position: -90px 0;
}

#perfiles .perfil .categoria
{
  padding: 0 5px;
  position: relative;
  z-index: 1;
  text-transform:uppercase !important;
}

#perfil .infoPpal .categoria a
{
	display:inline-block;
	background-color:#CCC;
	color:#666;
	padding:1px 5px 1px 5px;
	border-radius:3px;
}

#perfil .infoPpal .categoria a:first-child
{
  background: url(../images/areas_thumb.png) no-repeat;
  text-indent: -9999px;
  width: 14px;
}

#perfil .infoPpal .categoria a.Teatro{
  background-position: -60px 0;
  border-radius:3px;
}

#perfil .infoPpal .categoria a.Danza{
  background-position: -30px 0;
}

#perfil .infoPpal .categoria a.Música{
  background-position: 0 0;
}

#perfil .infoPpal .categoria a.Otras,
#perfil .infoPpal .categoria a.otras,
#perfil .infoPpal .categoria a.otras-artes{
  background-position: -90px 0;
}



.infoPpal a {
	font-size:14px;
	}


#perfiles .perfil .nombre
{
  background: #9ec065;
  color:#FFF;
  display: table-cell;
  height: 60px;
  padding: 10px;
  vertical-align: middle;
  width: 155px;
  text-transform:uppercase !important;
  border-radius:5px;
  
}

#perfiles .perfil .nombre a
{
  color:#FFF;
  line-height: 1.2;
  text-transform:uppercase  !important;
}

#perfil .twitter {
  background: url(../images/twitter.png) no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  font-size: 11px;
  vertical-align: top;
  width: 60%;
  padding-left:25px;
  margin-bottom:5px;
}

#perfil .fb {
  background: url(../images/facebook.png) no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  font-size: 11px;
  margin-right: 15px;
  vertical-align: top;
  width: 60%;
  padding-left:25px;
  margin-bottom:5px;
}

#perfil .web {
  background: url(../images/web.jpg) no-repeat;
  background-size: contain;
  display: inline-block;
  font-size: 11px;
  height: 20px;
  margin-right: 15px;
  vertical-align: top;
   width: 60%;
  padding-left:25px;
}

#perfil a {
  font-size: 11px;
}

.clear {
	clear:both;}
	
.multimedia {
	float:left;
	margin:0 20px 0 0;
	width:350px;}

.multimedia h4 {
	font-size:10px;}

.multimedia h3 {
	font-size:12px;
	border-bottom:2px dotted #999999;
	}


.tituloBackground {
  background-color:#F5F5F5;
  border-radius: 5px;
  box-shadow: #ccc 1px 1px 5px;
  clear: both;
  color: #666;
  margin: auto;
  overflow: hidden;
  width: 740px;
  text-transform:uppercase;
  font-weight:bold;
  margin:20px 0;
  font-size:18px;
  padding:2px 5px 2px 15px;
}
	}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
	text-transform:capitalize;
	z-index:100;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  
.ui-autocomplete li {
	font-size:10px;
  text-transform: capitalize;
	}
	
#contact-form .btn  {
	 background: #c84055;
  color: #ffffff;  
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width:200px;
	
	}

#contact-form .btn:hover  {
background: #a82035;
	
	}
	
	
	
#contact-form .row {
	margin-bottom:20px;
	}

#contact-form input {
	float:left;
	margin:0 30px 0 0;
	width:340px;
	}

#contact-form .asunto input {
	margin:0 30px 0 0;
	width:710px;
	}
	
#contact-form textarea {
	margin:0 30px 0px 0;
	width:710px;
	height:200px;
	}
#contact-form .errorMessage {
	color:#c84055;
	font-size:10px;
	}