#perfiles .perfil
{
	float: left;
	font-size: 11px;
	margin: 0 8px 20px;
	min-height: 220px;
	width: 140px;
}
#perfiles .perfil h3
{
	font-size: 12px;
	line-height: 1;
	margin: 0;
	text-align: center;
	
}
#perfiles .perfil img
{
	display: block;
	margin: -15px auto 5px;
	text-align: center;
}
#perfiles .perfil span
{
	background: #ccc;
	display: inline-block;
	height: 23px;
	padding: 2px 5px 0;
}
#perfiles .perfil span:first-child
{
	background: url(../images/areas_thumb.png) no-repeat;
	text-indent: -9999px;
	width: 14px;
}
#perfiles .perfil span.Teatro{
	background-position: -60px 0;
}

#perfiles .perfil span.Danza{
	background-position: -30px 0;
}

#perfiles .perfil span.Música{
	background-position: 0 0;
}

#perfiles .perfil span.Otro{
	background-position: -90px 0;
}
#perfiles .perfil .categoria
{
	padding: 0 5px;
	position: relative;
	z-index: 2;
}
#perfiles .perfil .nombre
{
	background: #ccc;
	display: table-cell;
	height: 60px;
	padding: 10px;
	vertical-align: middle;
	width: 120px;
}

.nav-collapse ul li span {
   color: #999999;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   padding: 10px 15px;
   display: block;
}

#admin-header h4
{
   color: rgba(123, 123, 123, 1);
   font-size: 20px;
}

.table .even
{
	background-color: rgba(17, 153, 221, 0.11);
}


.tituloBackground {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    clear: both;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    overflow: hidden;
    padding: 2px 5px 2px 15px;
    text-transform: uppercase;
}

.res
{
	text-align: justify;
	line-height: 18px;

}

#galeria{
	background-color: #f5f5f5;
	padding: 20px; 
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

  #backarr{
  	width: 60px;
  	height: 60px;
  }

  #backarr figure{
  	background: url('../images/home60.png');
  	background-repeat: no-repeat; 
  	width: 30px;
  	height: 30px;
  	margin:0;
  	padding: 0;
  }

  #foto-perfil{
  	margin-top: 20px;
  	background: none repeat scroll 0 0 #fff;
    border: 5px solid rgba(177, 177, 177, 1);
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
    height: auto;
    width: auto;
  }

  #foto-perfil img {
    -moz-force-broken-image-icon: 1;
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }

  #info-basica{
  	padding-left: 50px;
  }

  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
